In [1]:
mylist = [1,2,3,4,5]

In [2]:
x = 5

In [3]:
print(x)

5

In [4]:
del x

In [5]:
print(x)

NameError: name 'x' is not defined

In [6]:
s = 'hello'
print(s)

hello

In [7]:
del s

In [8]:
print(s)

NameError: name 's' is not defined

In [9]:
del mylist[0]

In [10]:
print(mylist)

[2, 3, 4, 5]

In [11]:
del mylist[1:3]

In [12]:
print(mylist)

[2, 5]

In [13]:
mylist[0:2] = ['a' , 'b']

In [14]:
print(mylist)

['a', 'b']

In [1]:
colors = ['red', 'blue', 'yellow', 'green']
for i in colors[:]:
    colors.append('black')

In [2]:
print(colors)

['red', 'blue', 'yellow', 'green', 'black', 'black', 'black', 'black']

In [5]:
mylist = [1,2,3,4,5,6]
for i in mylist:
    print(i)
    mylist.remove(i)

1
3
5

In [4]:
print(mylist)

[2, 4, 6]

In [6]:
def add_to_list(mylist = []):
    mylist.append('apples')
    return mylist

In [10]:
new_list = add_to_list()
new_list2 = add_to_list()
print(new_list2)

['apples', 'apples', 'apples', 'apples', 'apples']

In [11]:
myset = set()

In [12]:
type(myset)

set

In [13]:
print(myset)

set()

In [15]:
fruits = {'apple', 'orange', 'apple' , 'pear', 'orange', 'banana'}

In [16]:
print(fruits)

{'pear', 'orange', 'apple', 'banana'}

In [17]:
unique = set('kfdsjkfjkdsjkjdkjkjksjksjdkjdskjsdk')

In [18]:
print(unique)

{'s', 'd', 'k', 'f', 'j'}

In [19]:
print(fruits)

{'pear', 'orange', 'apple', 'banana'}

In [20]:
'orange' in fruits

True

In [21]:
'kiwi' in fruits

False

In [22]:
alpha = set('hellojello')
beta = set('pythonvython')

In [23]:
print(alpha)

{'l', 'e', 'o', 'j', 'h'}

In [24]:
print(beta)

{'v', 'o', 'y', 'n', 'p', 'h', 't'}

In [25]:
alpha - beta

{'e', 'j', 'l'}

In [26]:
alpha | beta

{'e', 'h', 'j', 'l', 'n', 'o', 'p', 't', 'v', 'y'}

In [27]:
alpha & beta

{'h', 'o'}

In [28]:
alpha ^ beta

{'e', 'j', 'l', 'n', 'p', 't', 'v', 'y'}

In [29]:
gama = {1,2,3,4,5}
eta = {2,3,'hello', 'python'}

In [30]:
print(gama , eta , sep ='\n')

{1, 2, 3, 4, 5}
{2, 3, 'hello', 'python'}

In [31]:
gama.add(10)

In [32]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [33]:
gama.add(5)

In [34]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [35]:
gama.difference(eta)

{1, 4, 5, 10}

In [36]:
gama.intersection(eta)

{2, 3}

In [37]:
gama.discard(4)

In [38]:
print(gama)

{1, 2, 3, 5, 10}

In [39]:
gama.discard(8)

In [40]:
print(gama)

{1, 2, 3, 5, 10}

In [41]:
gama.union(eta)

{1, 10, 2, 3, 5, 'hello', 'python'}

In [42]:
gama.isdisjoint(eta)

False

In [43]:
gama.issuperset(eta)

False

In [44]:
gama.issubset(eta)

False

In [45]:
mydictionary = {'apples':5 , 'orange':10, 'pear':8}

In [46]:
type(mydictionary)

dict

In [47]:
print(mydictionary)

{'apples': 5, 'orange': 10, 'pear': 8}

In [48]:
'apples' in mydictionary

True

In [49]:
5 in mydictionary

False

In [55]:
mydictionary2 = {'orange': 10, 'pear':8, 'apples':5}

In [56]:
mydictionary == mydictionary2

True

In [57]:
mydictionary.get('apples')

5

In [58]:
mydictionary.get('kiwi')

In [59]:
mydictionary.keys()

dict_keys(['apples', 'orange', 'pear'])

In [60]:
mydictionary.items()

dict_items([('apples', 5), ('orange', 10), ('pear', 8)])

In [61]:
mydictionary.pop('pear')

8

In [62]:
print(mydictionary)

{'apples': 5, 'orange': 10}

In [63]:
mydictionary.values()

dict_values([5, 10])

In [67]:
mydictionary.popitem()

('apples', 5)

In [68]:
print(mydictionary)

{}

In [69]:
dict([('jack', 5) , ('jill', 10) , ('hill', 100)])

{'jack': 5, 'jill': 10, 'hill': 100}

In [75]:
k = lambda x:x**2

In [71]:
k(2)

4

In [72]:
k(5)

10

In [73]:
k('hello')

'hellohello'

In [76]:
list(map(k, [2,3,4,5,6,9]))

[4, 9, 16, 25, 36, 81]

In [77]:
list(filter(lambda x:x>10 , [2,3,344,54,11,33,-10,-5]))

[344, 54, 11, 33]

In [78]:
x = 5
print(x>10)

False

In [79]:
5 in [1,2,34,56,90]

False

In [80]:
5 in range(4,10)

True

In [81]:
3 in (1,2,3,4,9)

True

In [82]:
5 not in range(1,10)

False

In [83]:
[2,3,4] + [5]

[2, 3, 4, 5]

In [84]:
'hello' + 'python'

'hellopython'

In [85]:
range(0,5) + range(5,10)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [86]:
(1,2,3) + ('hello',)

(1, 2, 3, 'hello')

In [87]:
[2,3,4,5,5]*2

[2, 3, 4, 5, 5, 2, 3, 4, 5, 5]

In [88]:
2*[2,3,4]

[2, 3, 4, 2, 3, 4]

In [89]:
2*'hello'

'hellohello'

In [90]:
range(5)*2

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [112]:
mylist = [2,3,4,5,6]
mystring = 'hello python'
myrange = range(5)
mytuple = (3,3,45,6)

In [92]:
mylist[0]

2

In [93]:
mytuple[1]

3

In [94]:
mystring[1]

'e'

In [95]:
myrange[2]

2

In [96]:
myrange[4]

4

In [97]:
myrange[5]

IndexError: range object index out of range

In [98]:
mylist[1:3]

[3, 4]

In [99]:
mystring[1:3]

'el'

In [100]:
range(5)[1:3]

range(1, 3)

In [101]:
mytuple[1:3]

(3, 4)

In [102]:
mytuple[1:5:2]

(3, 5)

In [103]:
range(9)[1:7:2]

range(1, 7, 2)

In [104]:
len(mylist)

5

In [105]:
len(mystring)

12

In [106]:
len(myrange)

5

In [107]:
len(mytuple)

5

In [108]:
min(mylist)

2

In [109]:
min(mystring)

' '

In [113]:
min(mytuple)

3

In [114]:
max(mylist)

6

In [115]:
max(mytuple)

45

In [116]:
max(myrange)

4

In [118]:
mylist.index(5)

3

In [119]:
mystring.index('h')

0

In [120]:
mystring.index('k')

ValueError: substring not found

In [122]:
mytuple.index(45)

2

In [123]:
myrange.index(3)

3

In [124]:
myrange.index(9)

ValueError: 9 is not in range

In [125]:
another_list = [1,2,2,2,3,3,4,5,5,5,5,9]
another_string = 'hello this is python'
another_range = range(2,14,2)

In [126]:
another_list.count(5)

4

In [127]:
another_string.count('t')

2

In [130]:
another_range.count(60)

0

In [131]:
email_dict = {'arunish': 'arunish@gmail.com' , 'robin': 'robin325@gmail.com'}
for key, value in email_dict.items():
    print('username is', key , 'and email id is', value)

username is arunish and email id is arunish@gmail.com
username is robin and email id is robin325@gmail.com

In [136]:
some_list = ['hello' , 'python', 'wow', 2,23,4,5]

for index, value in enumerate(some_list):
    print(index)

(0, 'hello')
(1, 'python')
(2, 'wow')
(3, 2)
(4, 23)
(5, 4)
(6, 5)

In [133]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [135]:
basket = ['apples',  'orange', 'apples', 'pear', 'orange', 'banana']
for fr in sorted(set(basket)):
    print(fr)

apples
banana
orange
pear

In [137]:
t = 2,3,4,5,'hello',

In [138]:
print(t)

(2, 3, 4, 5, 'hello')

In [139]:
a,b,c,d,e = t

In [140]:
print(a,b,c,d,e, sep='\n')

2
3
4
5
hello

In [144]:
print('hello', 'jello', sep='\n')

hello
jello